<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <input type="text" placeholder="请输入内容" @keyup="clickHandle($event)"> -->
        <input type="text" placeholder="请输入内容" v-model="str">
        <input type="text" placeholder="请输入内容" v-model.lazy="str">
        <input type="text" placeholder="请输入内容" v-model.number="str">
        <input type="text" placeholder="请输入内容" v-model.trim="str">
        <p>{{str}}</p>

        <select name="" id="" v-model="school">
            <option value="hd">hd</option>
            <option value="lg">lg</option>
            <option value="ld">ld</option>
            <option value="gc">gc</option>
        </select>
        <p>{{school}}</p>
        篮球<input type="checkbox" value="篮球"v-model = "arr">
        足球<input type="checkbox" value="足球" v-model = "arr">
        排球<input type="checkbox" value="排球" v-model = "arr">
        乒乓球<input type="checkbox" value="乒乓球" v-model = "arr">
        <p>{{arr}}</p>

        男<input type="radio" name="sex" value="男"v-model = "sex">
        女<input type="radio" name="sex" value="女"v-model = "sex">
        <p>{{sex}}</p>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
              str:"0",
              school:"ld",
              arr:[],
              sex:""
            },
            methods:{
                // clickHandle(e){
                //     console.log(e.target.value);
                //     this.str = e.target.value
                // }
            }
        })
    </script>
</body>
</html>